body{
    background-color: pink;
        left: 0;
        line-height:1;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        font-size: 20px;
    }

button{
    background-color: red;
}

   